
<footer class="footer">
    <div class="contact-section">
        <div class="container">
            <div class="row">
                <div class="col-sm-3">
                    <div class="contact-widget">

                       

                        <p>Makina Parkı , Makina sektörünün ihtiyacı olan herşeyi tek bir platform üzerinden sunmayı amaçlayan bir platformdur.</p>
                        <p>Platformda Makina kiralayabilir, Satabilir,Servis Talebi açabilir,Yedek parça teklifi alabilir, 
                        İhtiyacınız olan Operatörlere ulaşabilir ve makinanızın sevkiyatı için iş ortağı firmalarlardan teklif alabilirsiniz</p>
                        <p>Daha çok özelliklere erişebilmek için kaydolarak sizde bu platformun bir parçası olabilirsiniz.</p>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="contact-widget">
                        <h3>Çalışma Saatleri</h3>
                        <p>Platformumuz 7/24 Açıktır </p>

                        <p>Sunday - <span> Closed </span></p>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="contact-widget">
                        <h3>Hızlı Linkler</h3>
                        <ul>
                            <li><a href="#">About Us</a></li>
                            <li><a href="#">Projects</a></li>
                            <li><a href="#">Services</a></li>
                            <li><a href="#">Latest News</a></li>
                            <li><a href="#">Shop</a></li>
                        </ul>
                        <ul>
                            <li><a href="#">Who We Are</a></li>
                            <li><a href="#">Creer</a></li>
                            <li><a href="#">Contac Us</a></li>
                            <li><a href="#">Features</a></li>
                            <li><a href="#">FAQ</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="contact-widget">
                        <h3>Ofisimiz</h3>
                        <address>
                            <ul>
                                <li><span class="address">Address:</span>1052 – 1054 Christchurch Road, Bournemouth, BH7 6DS</li>
                                <li><span>Phone: </span>+210 2234 546 78</li>
                                <li><span>Email: </span><a href="#">support@diagram.com</a></li>
                            </ul>
                        </address>
                        <ul class="footer-social list-inline">
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin-square"></i></a></li>
                            <li><a href="#"><i class="fa fa-facebook-square"></i></a></li>
                            <li><a href="#"><i class="fa fa-pinterest-square"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div><!-- row -->

        </div><!-- container -->
    </div><!-- contact informetion -->

    <div class="footer-bottom">
        <div class="container">
            <div class="copyright-text text-center">
                @*<p>&copy; www.makinaparkı.com 2018 |  bir <a href="http://www.rinosis.com/">Rinosis Teknoloji</a> Markasıdır</p>*@
            </div>
        </div>
    </div><!-- footer bottom -->
</footer><!-- footer -->