<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <div id="wrapper">
        <div id="page-header-w">
            <header id="page-header">
                <a href="#" id="logo-w">
                    <div id="logo">Makina<span style="color:#000000; font-weight: bold;">Parkı</span></div>
                </a>
            </header>
        </div>

        <div id="page-content">
            @RenderBody()
        </div>

    </div>
    
</body>
</html>