@using MakinaPark.Models;
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">

<!-- Mirrored from html.gridbootstrap.com/diagram/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 09 Dec 2018 12:49:14 GMT -->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Grid Bootstrap">
    <meta name="description" content="">

    <title>Makina Parkı | Kiralık-Satılık-Yetkili Servisler-Yedek Parça-Operatörler-Lojistik</title>

    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,900" rel="stylesheet">

    <!-- CSS -->
    <link href="~/client/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="~/client/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/client/css/animate.css">
    <link rel="stylesheet" href="~/client/css/magnific-popup.css">
    <link rel="stylesheet" href="~/client/css/cubeportfolio.min.css">
    <link rel="stylesheet" href="~/client/css/owl.carousel.css">
    <link rel="stylesheet" href="~/client/css/main.css">
    <link rel="stylesheet" href="~/client/css/responsive.css">
    <link rel="stylesheet" href="~/css/side-bar-menu.css" />
    <link href="~/css/jquery.toast.min.css" rel="stylesheet" />
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.2/css/bootstrap-select.min.css">



    <!-- icons -->
    <link rel="icon" href="images/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="~/client/images/ico/apple-touch-icon-144-precomposed.html">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="~/client/images/ico/apple-touch-icon-114-precomposed.html">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="~/client/images/ico/apple-touch-icon-72-precomposed.html">
    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="~/client/images/ico/apple-touch-icon-57-precomposed.html">
    <!-- icons -->
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- Developed By Grid Bootstrap -->

</head>
<body>

    @Html.Partial("_Header")
    @RenderBody()
    @Html.Partial("_Footer")
    <!-- script -->
    <script src="~/client/js/jquery.min.js"></script>
    <script src="~/js/jquery.mask.min.js"></script>
    <script src="~/client/js/modernizr.min.js"></script>
    <script src="~/client/js/bootstrap.min.js"></script>
    <script src="~/client/js/owl.carousel.min.js"></script>
    <script src="~/client/js/cubeportfolio.min.js"></script>
    <script src="~/client/js/magnific-popup.min.js"></script>
    <script src="~/client/js/jquery.backstretch.min.js"></script>
    <script src="~/client/js/custom.js"></script>
    <script src="~/js/jquery.toast.min.js"></script>
    <script src="~/js/toast.js"></script>
    <script src="~/js/globalloading.js"></script>
    <script src="~/js/network.js"></script>
    <script src="~/js/main.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.2/js/bootstrap-select.min.js"></script>
    <script src="~/js/Controller/Genel.js"></script>
    <script>

    </script>
    @RenderSection("Scripts", required: false)
</body>

<!-- Mirrored from html.gridbootstrap.com/diagram/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 09 Dec 2018 12:49:30 GMT -->
</html>    