* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Century Gothic', Arial, sans-serif;
    background: #c50000;
    transition: 0s all ease;
}

    body.gone {
        background: #fff;
    }

#intro-page {
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

.user-nav-menu {
    position: absolute;
    top: 30px;
    right: 30px;
    z-index: 5;
}

    .user-nav-menu ul {
        list-style: none;
        margin: 0px;
        padding: 0px;
    }

        .user-nav-menu ul li {
            display: inline-block;
            margin-right: 20px;
        }

            .user-nav-menu ul li:last-child {
                margin-right: 0px;
            }

            .user-nav-menu ul li a {
                display: inline-block;
                color: #000;
                text-decoration: none;
            }

.user-login-w {
    width: 260px;
    height: auto;
    padding: 15px;
    background: #fff;
    box-shadow: 0px 2px 5px #555;
    position: absolute;
    top: 60px;
    right: 30px;
    z-index: 6;
    display: none;
}

    .user-login-w.visible {
        display: block;
    }

    .user-login-w::before {
        content: '\e5c7';
        font-family: 'Material Icons';
        position: absolute;
        font-size: 30px;
        color: #fff;
        top: -16px;
        right: 17px;
    }

.row {
    margin-bottom: 20px;
}

    .row:last-child {
        margin-bottom: 0px;
    }

    .user-login-w input {
        width: 100%;
        height: 40px;
        padding: 0px 10px;
    }

    .user-login-w button {
        width: 100%;
        height: 40px;
        background: #000;
        color: #fff;
        border: none;
    }

#bg-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    object-fit: cover;
    transition: 0.8s all ease;
    filter: grayscale(1);
}

    #bg-video.gone {
        top: -150%;
    }

#bg {
    width: 100%;
    height: 120%;
    position: absolute;
    top: 0px;
    left: 0px;
    /* background: #c50000; */
    background: rgba(255, 202, 0, 0.6);
    /* background: radial-gradient(ellipse at center, #ff3236 0%,#c10003 20%); */
    transition: 0.8s all ease;
    z-index: 2;
}

#logo-w {
    position: absolute;
    top: 100px;
    transform: translateX(-50%);
    left: 50%;
    transition: 0.7s all ease;
    z-index: 3;
}

#logo {
    color: #000;
    font-size: 30px;
    transition: 0.7s all ease;
}


#categories-w {
    width: 620px;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    z-index: 3;
    transition: 0.8s all ease;
    /* background: #ccc; */
    /* background: rgba(0, 0,0,0.3); */
}

    #categories-w.gone {
        top: 30px;
        transform: translateY(0%);
        left: 400px;
    }

        #categories-w.gone .category {
            margin-right: 0px;
        }

#categories-c {
    width: 100%;
    height: auto;
    position: relative;
    text-align: center;
}

.category {
    display: inline-block;
    height: 140px;
    width: 140px;
    border-radius: 100%;
    background: rgba(0, 0, 0, 0.6);
    /* border-bottom: 3px solid #000000;
    border-top: 1px solid #0a0a0a; */
    /* box-shadow: 0px 2px 4px #555; */
    line-height: 120px;
    text-align: center;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    padding: 10px;
    transition: 0.3s all ease;
    margin-right: 10px;
    margin-bottom: 20px;
    text-decoration: none;
}

    .category:last-child {
        margin-right: 0px;
    }

    .category:hover, .category.selected {
        /* transform: scale(1.2, 1.2); */
        background: #000;
        color: #fff;
    }

.material-icons {
    vertical-align: middle;
}

#signup-body-c {
    position: relative;
    z-index: 5;
}

#signup-body-c #logo-w {
    position: relative;
    top: 0;
    left: 0;
    transform: none;
    margin-top: 100px;
}

    #signup-body-c #logo-w #logo {
        text-align: center;
    }

#signup-form-w {
    width: 90%;
    max-width: 700px;
    background: rgba(0, 0, 0, 0.6);
    padding: 60px 100px;
    margin:0 auto;
    margin-top: 40px;
}

#signup-form-w h3 {
    font-weight: normal;
    font-size: 30px;
    text-align: center;
    color: #fff;
    margin: 0px 0px 40px 0px;
}

#signup-form-w input {
    width: 100%;
    height: 50px;
    border: none;
    padding: 0px 20px;
    font-size: 18px;
}

#signup-form-w button {
    width: 100%;
    height: 50px;
    background: rgba(255, 202, 0, 0.8);
    border:none;
    font-size: 22px;
}