* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Century Gothic', Arial, sans-serif;
    background: #eee;
}

a {
    text-decoration: none;
    color: #000;
}

ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
}

#page-header-w {
    background: rgba(255, 202, 0, 1);
}

#page-header {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    height: 60px;
    position: relative;
}

#logo-w {
    display: block;
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
}

#logo-w #logo {
    color: #000;
    font-size: 20px;
}

#page-content {
    width: 100%;
    max-width: 1200px;
    height: auto;
    overflow: hidden;
    margin: 0 auto;
    padding: 40px 20px;
}

.page-navigation-menu {
    width: 200px;
    height: auto;
    padding: 20px;
    background: #fff;
    box-shadow: 0px 2px 5px #ccc;
    float:left;
}

    .page-navigation-menu > ul > li ul.sub-menu {
        padding-left: 15px;
    }

    .page-navigation-menu > ul > li a {
        display: block;
        padding: 6px 10px;
        border-radius: 2px;
        transition: .3s all ease;
    }

    .page-navigation-menu > ul > li a:hover {
        background: #eee;
    }

.page-content-body {
    width: calc(100% - 230px);
    min-height: 400px;
    float: left;
    margin-left: 30px;
    background: #fff;
    box-shadow: 0px 2px 5px #ccc;
    padding: 20px;
}