@model List<MakinaPark.Models._KategoriModel>

@{
    ViewData["Title"] = "Kiralik";
    Layout = "~/Views/Shared/_Layout_Makina.cshtml";
}

<h2>Kiralik</h2>

<ul>

    @foreach (var kategori in Model)
    {
        <li>
            <a href="@Url.Action("KategoriAltKiralik", "Kategori", new { slug = kategori.Slug })" title="@kategori.Aciklama">@kategori.Kategori</a>
        </li>
    }



</ul>


