@model List<MakinaPark.Models.KategoriModel>

@{
    ViewData["Title"] = "Satılık";
    Layout = "~/Views/Shared/_Layout_UstMenu.cshtml";
}

<h2>Satılık</h2>

<aside class="page-navigation-menu">
    <ul>

        @foreach (var kategori in Model)
        {
            <li>
                <a href="@Url.Action("KategoriAltSatilik", "Kategori", new { slug = kategori.Slug })" title="@kategori.Aciklama">@kategori.Kategori</a>
            </li>
        }

    </ul>
</aside>

<section class="page-content-body">
    test
</section>
