@model List<MakinaPark.Models.KategoriModel>

@{
    ViewData["Title"] = "Satılık";
    Layout = "~/Views/Shared/_Layout_Makina.cshtml";
}

<h2>Satılık</h2>

<ul>

    @foreach (var kategori in Model)
    {
        <li>
            <a href="@Url.Action("KategoriAltSatilik", "Kategori", new { slug = kategori.Slug })" title="@kategori.Aciklama">@kategori.Kategori</a>
        </li>
    }



</ul>

