
@{
    ViewData["Title"] = "Account";
    Layout = "~/Views/Shared/_MainAccount.cshtml";
}

<div class="service-section">

    <div class="container">
        deneme
    </div><!-- container -->
</div>
