
@{
    ViewData["Title"] = "View";
    Layout = "~/Views/Shared/_MainAccount.cshtml";
}


<div class="service-section">

    <div class="container">
        Hesap Özetim
    </div><!-- container -->
</div>