
@{
    ViewData["Title"] = "Favorilerim";
    Layout = "~/Views/Shared/_MainAccount.cshtml";
}
<div class="service-section">

    <div class="container">
        favorilerim
    </div><!-- container -->
</div>
