@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer Localizer
@{
    ViewData["Title"] = "Ana Sayfa";
    Layout = "~/Views/Shared/_Main.cshtml";
}


<div class="contact-form-section section-padding">
    <div class="container">
        <div class="section-title text-center">
            <div class="container">
                <h1>Giriş Yap</h1>
                <h2>GİRİŞ Your Message</h2>
            </div>
        </div>
        <div class="contact-info">
            <form class="contact-form" action="@Url.Action("Login", "User")" method="post" >
                <div class="row">
                    <div class="col-sm-4">
                        <div class="form-group">
                            @*<i class="fa fa-user" aria-hidden="true"></i>*@
                            <input type="email" name="eposta" class="form-control" required placeholder="Eposta">
                        </div>
                        <div class="form-group">
                            @*<i class="fa fa-key" aria-hidden="true"></i>*@
                            <input type="password" class="form-control" name="parola" required placeholder="Şifre">
                        </div>
                    </div>
                  
                   
                </div>
                <div class="submit-button">
                    <button  type="submit" value="Login" class="btn btn-primary">Giriş</button>
                </div>
            </form><!-- contact form -->
        </div>
    </div><!-- container -->
</div>


