
@{
    ViewData["Title"] = "Ozet";
    Layout = "~/Views/Shared/_MainAccount.cshtml";
}

<div class="replay-box">
    <h3>Özet Sayfanız</h3>
</div>
<h4>Kiralık</h4>
<hr style="border: 1px solid;" />
<div class="row">
    <div class="col-sm-6 col-md-4">
        <div class="project-content">
            <div class="project-item">
               
            </div>
            <div class="project-title">
                <h3><a href="project-details.html">Kiralama Talepleriniz</a></h3>
                <span style="font-size:large">12 Adet</span>
            </div>

        </div>
    </div>
    <div class="col-sm-6 col-md-4">
        <div class="project-content">
            <div class="project-item">
               
            </div>
            <div class="project-title">
                <h3><a href="project-details.html">Taleplerinize Verilen Teklifler</a></h3>
                <span style="font-size:large">24 Adet</span>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-4">
        <div class="project-content">
            <div class="project-item">
                
            </div>
            <div class="project-title">
                <h3><a href="project-details.html">Süresi Dolan Talepler</a></h3>
                <span style="font-size:large">24 Adet</span>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-4">
        <div class="project-content">
            <div class="project-item">
                
            </div>
            <div class="project-title">
                <h3><a href="project-details.html"> Verdiğiniz Teklifler</a></h3>
                <span style="font-size:large">5 Adet</span>
            </div>
        </div>
    </div>
</div>

<h4>Makina Parkınız</h4>
<hr style="border: 1px solid;" />
<div class="row">
    <div class="col-sm-6 col-md-4">
        <div class="project-content">

            <div class="project-item">
                
            </div>
            <div class="project-title">
                <h3><a href="project-details.html">Makina Parkı Listeniz </a>  </h3>
                <span>121 Adet</span>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-4">
        <div class="project-content">

            <div class="project-item">
               
            </div>
            <div class="project-title">
                <h3><a href="project-details.html">Kiradaki Makinalarınız</a></h3>
                <span>15 Adet</span>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-4">
        <div class="project-content">
            <div class="project-item">
            </div>
            <div class="project-title">
                <h3><a href="project-details.html">Arızalı Makinalarınız</a></h3>
                <span>20 Adet</span>
            </div>
        </div>
    </div>
</div>