
@{
    ViewData["Title"] = "Ana Sayfa";
    Layout = "~/Views/Shared/_Main.cshtml";
}




<style>
    .row {
        overflow: hidden;
    }

    .cols {
        padding-bottom: 100%;
        margin-bottom: -100%;
        overflow: hidden;
    }

    @@media(min-width: 992px) {
        .col-md-4:not(:first-child),
        .col-md-6:not(:first-child) {
            border-left: 1px solid #eeeeee;
        }

        .col-md-4:not(:last-child),
        .col-md-6:not(:last-child) {
            border-right: 1px solid #eeeeee;
            margin-right: -1px;
        }
    }
</style>
<div class="container" style="height:initial">
    <br /> <br />
    <h1>
        Giriş Yap
    </h1>
    <hr>
    <div class="row ">
        <div class="col-md-6 cols">

            <div class="contact-info">
                <form class="" action="@Url.Action("Login", "User")" method="post">
                    <div class="contact-form row center-block">
                        <div class="col-sm-12   ">
                            <div class="form-group">
                                <i class="fa fa-user" aria-hidden="true"></i>
                                <input type="text" name="AdSoyad" class="form-control" required placeholder="Adı Soyadı">
                            </div>
                            <div class="form-group">
                                <i class="fa fa-envelope" aria-hidden="true"></i>
                                <input type="email" class="form-control" name="Eposta" required placeholder="E-Posta">
                            </div>
                            <div class="form-group">
                                <i class="fa fa-key" aria-hidden="true"></i>
                                <input type="password" class="form-control" name="Parola" required placeholder="Parola">
                            </div>
                            <div class="form-group form-control">

                                <input type="checkbox" class="custom-control-input" id="firmamVar">
                                <label class=" custom-control-label" for="firmamVar">Firmam Var</label>

                            </div>
                        </div>


                    </div>
                    <div id="firma-div" style="display:none" class="row center-block">
                        <div class="col-sm-12   ">
                            <div class="form-group">
                                <label>Firma Adı(*)</label>
                                <input type="text" class="form-control" required="required" id="txtBaslik" placeholder="Firma Adını Giriniz">
                            </div>
                            <div class="form-group">
                                <label>İl(*)</label>
                                <div class="form-group">

                                    <select class="selectpicker" name="FirmarefIl" id="inputIl" data-width="100%"></select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label>İlçe(*)</label>
                                <div class="form-group">
                                    <select class="selectpicker" name="FirmarefIlce" id="inputIlce" data-width="100%"></select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label>Adres(*)</label>
                                <textarea id="txtAdres" name="FirmaAdres" required="required" class="form-control" rows="2" placeholder="Firma Adresini Giriniz"></textarea>
                            </div>
                            
                        </div>


                        </div>
                    <div class="submit-button text-center">
                        <button type="submit" value="Login" class="btn btn-primary">Kayit Ol</button>
                    </div>
                </form><!-- contact form -->
            </div>


        </div>
        <div class="col-md-6 cols text-center">
            <br />
            <h1>Üye Olduysanız </h1>
            <h2><a href="@Url.Action("Login", "User")"> Giriş Yapınız</a></h2>

        </div>
    </div>
    <hr>

    @section scripts {
        <script>
            
            $('[id="firmamVar"]').change(function () {
                if ($(this).is(':checked')) {
                    $("#firma-div").show(2000);
                }
                else {
                    $("#firma-div").hide("fast", function () {
                        // Use arguments.callee so we don't need a named function
                       // $(this).prev().hide("slow");
                    });
                }
            });

        </script>
        }
    </div>
