
@{
    ViewData["Title"] = "Ekle";
    Layout = "~/Views/Shared/_MainAccount.cshtml";
}

<style>
    .custom-checkbox {
        min-height: 1rem;
        padding-left: 0;
        margin-right: 0;
        cursor: pointer;
    }

        .custom-checkbox .custom-control-indicator {
            content: "";
            display: inline-block;
            position: relative;
            width: 30px;
            height: 10px;
            background-color: #818181;
            border-radius: 15px;
            margin-right: 10px;
            -webkit-transition: background .3s ease;
            transition: background .3s ease;
            vertical-align: middle;
            margin: 0 16px;
            box-shadow: none;
        }

            .custom-checkbox .custom-control-indicator:after {
                content: "";
                position: absolute;
                display: inline-block;
                width: 18px;
                height: 18px;
                background-color: #f1f1f1;
                border-radius: 21px;
                box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.4);
                left: -2px;
                top: -4px;
                -webkit-transition: left .3s ease, background .3s ease, box-shadow .1s ease;
                transition: left .3s ease, background .3s ease, box-shadow .1s ease;
            }

        .custom-checkbox .custom-control-input:checked ~ .custom-control-indicator {
            background-color: #efbb20;
            background-image: none;
            box-shadow: none !important;
        }

            .custom-checkbox .custom-control-input:checked ~ .custom-control-indicator:after {
                background-color: #efbb20;
                left: 15px;
            }

        .custom-checkbox .custom-control-input:focus ~ .custom-control-indicator {
            box-shadow: none !important;
        }
</style>


<div class="replay-box">
    <h3>Markina parkını oluştur</h3>
</div>

<div class="row">
    <div class="col-sm-6">
        <label>Kategori(*)</label>
        <div class="form-group">

            <select class="selectpicker" id="inputKategori" data-width="100%"></select>
        </div>
    </div>

    <div class="col-sm-6">
        <label>Alt Kategori(*)</label>
        <div class="form-group">

            <select class="selectpicker" id="inputAltKategori" data-width="100%"></select>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-6">
        <label>Marka</label>
        <div class="form-group">

            <select class="selectpicker" id="inputMarka" data-width="100%"></select>
        </div>
    </div>

    <div class="col-sm-6">
        <label>Model</label>
        <div class="form-group">

            <select class="selectpicker" id="inputModel" data-width="100%"></select>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-4">
        <label>Model Yılı</label>
        <div class="form-group">
            <input type="tel" class="form-control" id="txtModelYili" placeholder="Model Yılı">
        </div>
    </div>

    <div class="col-sm-4">
        <label>Çalışma Saati</label>
        <div class="form-group">
            <input type="tel" class="form-control" id="txtCalismaSaati" placeholder="Çalışma Saati">
        </div>
    </div>

    <div class="col-sm-4">
        <label>Makina Durum</label>
        <div class="form-group">

            <select class="selectpicker" id="inputMakinaDurum" data-width="100%"></select>
        </div>
    </div>

</div>
<div class="row">
    <div class="col-sm-4">
        <label>Plaka</label>
        <div class="form-group">
            <input type="tel" class="form-control" id="txtPlaka" placeholder="Plaka">
        </div>
    </div>

    <div class="col-sm-4">
        <label>Seri No</label>
        <div class="form-group">
            <input type="tel" class="form-control" id="txtSeriNo" placeholder="Seri No">
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-4">
        <div class="form-group">
            <label>Aktif mi?</label>
            <label class="custom-control custom-checkbox">
                <input type="checkbox" checked hidden class="custom-control-input">
                <span class="custom-control-indicator"></span>
            </label>
        </div>
    </div>
</div>

<div class="form-group">
    <label>Ek Bilgiler(İsteğe Bağlı)</label>
    <textarea id="txtAciklama" required="required" class="form-control" rows="7" placeholder="Makinanıza ait ek açıklamaları girrebilirsiniz"></textarea>
</div>

<a href="#" class="btn btn-primary" onclick="Makina.MakinaOlustur();">KAYDET</a>

<script src="~/client/js/jquery.min.js"></script>
<script type="text/javascript" src="~/client/moment.js/2.23.0/Content/Scripts/moment.min.js"></script>
<script type="text/javascript" src="~/client/bootstrap.v3.datetimepicker/4.17.45/content/Scripts/bootstrap-datetimepicker.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/locale/tr.js"></script>
<script src="~/js/globalloading.js"></script>
<script src="~/js/network.js"></script>
<script src="~/js/Controller/Genel.js"></script>
<script src="~/js/Controller/Kategori.js"></script>
<script src="~/js/Controller/Makina.js"></script>



<script type="text/javascript">

    $(document).ready(function () {

        Kategori.KategoriComboDoldur();
        Genel.MakinaDurumuComboDoldur();

    });

    $(document).on("change", "#inputIl", function () {
        var selectedIl = $('#inputIl').val();
        Genel.IlceComboDoldur(selectedIl);
    });

    $(document).on("change", "#inputKategori", function () {
        var selectedKategori = $('#inputKategori').val();
        Kategori.AltKategoriComboDoldur(selectedKategori)
    });

    $(document).on("change", "#inputAltKategori", function () {
        var selectedAltKategori = $('#inputAltKategori').val();
        Kategori.KategoriMarkaComboDoldur(selectedAltKategori)
    });

    $(document).on("change", "#inputMarka", function () {
        var selectedKategoriMarka = $('#inputMarka').val();
        Kategori.KategoriModelComboDoldur(selectedKategoriMarka)
    });

    $(document).on("change", "#inputMarka", function () {
        var selectedKategoriMarka = $('#inputMarka').val();
        Kategori.KategoriModelComboDoldur(selectedKategoriMarka)
    });


</script>


