
@using MakinaPark.Models;

@{
    ViewData["Title"] = "KiralikMakinaTalepOlustur";
    Layout = "~/Views/Shared/_MainAccount.cshtml";
}

<div class="replay-box">
    <h3>Kiralık iş makinası talebi oluştur</h3>
</div>

<div class="row">
    <div class="col-sm-6">
        <label>Kategori</label>
        <div class="form-group">

            <select class="selectpicker" id="inputKategori" data-width="100%">
                @foreach (KategoriModel item in KategoriModel.Listesi())
                {
                    <option>@item.Kategori</option>
                }

            </select>
        </div>
    </div>

    <div class="col-sm-6">
        <label>Alt Kategori</label>
        <div class="form-group">

            <select class="selectpicker" id="inputAltKategori" data-width="100%">
                @foreach (KategoriModel item in KategoriModel.Listesi())
                {
                    <option>@item.Kategori</option>
                }
            </select>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-6">
        <label>Marka</label>
        <div class="form-group">

            <select class="selectpicker" id="inputMarka" data-width="100%">
                <option>Mustard</option>
                <option>Ketchup</option>
                <option>Barbecue</option>
            </select>
        </div>
    </div>

    <div class="col-sm-6">
        <label>Model</label>
        <div class="form-group">

            <select class="selectpicker" id="inputModel" data-width="100%">
                <option>Mustard</option>
                <option>Ketchup</option>
                <option>Barbecue</option>
            </select>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-4">
        <label>İl</label>
        <div class="form-group">

            <select class="selectpicker" id="inputIl" data-width="100%">
               
            </select>
        </div>
    </div>

    <div class="col-sm-4">
        <label>İlçe</label>
        <div class="form-group">
            <select class="selectpicker" id="inputIlce" data-width="100%">
                <option>Mustard</option>
                <option>Ketchup</option>
                <option>Barbecue</option>
            </select>
        </div>
    </div>

    <div class="col-sm-4">
        <label>Telefon Numaranız</label>
        <div class="form-group">
            <input type="tel" class="form-control" id="txtTelefonNo" aria-describedby="emailHelp" placeholder="Telefon No">
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-4">
        <label>Ödeme Tipi</label>
        <div class="form-group">
            <select class="selectpicker" id="inputOdemeTipi" data-width="100%">
                <option>Nakit</option>
                <option>Kredi Kartı</option>
                <option>Çek</option>
                <option>Senet</option>
                <option>Diğer</option>
            </select>
        </div>
    </div>

    <div class="col-sm-4">
        <label>Diğer</label>
        <div class="form-group">
            <input type="text" class="form-control" id="txtOdemeTipiDiger" placeholder="Diğer Ödeme Tipi">
        </div>
    </div>

    <div class="col-sm-4">
        <label>Kaç Adet Kiralamak İstiyorsunuz ?</label>
        <div class="form-group">
            <input type="number" class="form-control" id="txtKacAdet" placeholder="Adet">
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-4">
        <label>Sevkiyatı kim karşılayacak?</label>
        <div class="form-group">
            <select class="selectpicker" id="inputSevkiyat" data-width="100%">
                <option>Makina Sahibi</option>
                <option>İş Veren</option>
                <option>Geliş İşveren, Dönüş Makina Sahibi</option>
                <option>Geliş Makina Sahibi, Dönüş İş Veren</option>
            </select>
        </div>
    </div>

    <div class="col-sm-4">
        <label>Operatör İstiyormusunuz?</label>
        <div class="form-group">
            <select class="selectpicker" id="inputOperator" data-width="100%">
                <option>Evet</option>
                <option>Hayır</option>

            </select>
        </div>
    </div>

    <div class="col-sm-4">
        <label>İşe Başlangıç Tarihi ?</label>
        <div class="form-group">
            <div class='input-group date' id='datetimepicker1'>
                <input type='text' class="form-control" />
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-4">
        <label>Süre</label>
        <div class="form-group">
            <input type="number" class="form-control" id="txtSure">
        </div>
    </div>
    <div class="col-sm-4">
        <label>Günlük / Aylık / Yıllık</label>
        <div class="form-group">
            <select class="selectpicker" id="inputSureTipi" data-width="100%">
                <option>Gün</option>
                <option>Ay</option>
                <option>Yıl</option>
            </select>
        </div>
    </div>
</div>

<div class="form-group">
    <label for="exampleInputEmail1">Ek Bilgiler</label>
    <textarea name="message" id="message" required="required" class="form-control" rows="7" placeholder="Makinanın ne amaçla kullanılacağı veya ek açıklamaları girin"></textarea>
</div>


<div class="submit-button">
    <a href="#" class="btn btn-primary">TALEBİMİ OLUŞTUR</a>
</div>
<script src="~/client/js/jquery.min.js"></script>
<script type="text/javascript" src="~/client/moment.js/2.23.0/Content/Scripts/moment.min.js"></script>
<script type="text/javascript" src="~/client/bootstrap.v3.datetimepicker/4.17.45/content/Scripts/bootstrap-datetimepicker.js"></script>
@*<script src="~/Contents/js/Base/Network.js"></script>*@
<script src="~/js/network.js"></script>
@*<script src="~/Contents/js/Controllers/Genel.js"></script>*@
<script src="~/js/Controller/Genel.js"></script>
<script type="text/javascript">

    $(document).ready(function () {
        $('#datetimepicker1').datetimepicker();
        Genel.IlComboDoldur();
    });
</script>


