
@using MakinaPark.Models;

@{
    ViewData["Title"] = "KiralikMakinaTalepOlustur";
    Layout = "~/Views/Shared/_MainAccount.cshtml";
}

<div class="replay-box">
    <h3>Kiralık iş makinası talebi oluştur</h3>
</div>

<div class="form-group">
    <label>Başlık(*)</label>
    <div class="form-group">
        <input type="text" class="form-control" required="required" id="txtBaslik" placeholder="Talebinizle ilgili kısa başlık girin">
    </div>
</div>

<div class="form-group">
    <label>Ek Bilgiler(*)</label>
    <textarea id="txtAciklama" required="required" class="form-control" rows="7" placeholder="Makinanın ne amaçla kullanılacağı veya ek açıklamaları girin"></textarea>
</div>

<div class="row">
    <div class="col-sm-6">
        <label>Kategori(*)</label>
        <div class="form-group">

            <select class="selectpicker" id="inputKategori" data-width="100%"></select>
        </div>
    </div>

    <div class="col-sm-6">
        <label>Alt Kategori(*)</label>
        <div class="form-group">

            <select class="selectpicker" id="inputAltKategori" data-width="100%"></select>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-6">
        <label>Marka</label>
        <div class="form-group">

            <select class="selectpicker" id="inputMarka" data-width="100%"></select>
        </div>
    </div>

    <div class="col-sm-6">
        <label>Model</label>
        <div class="form-group">

            <select class="selectpicker" id="inputModel" data-width="100%"></select>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-4">
        <label>İl(*)</label>
        <div class="form-group">

            <select class="selectpicker" id="inputIl" data-width="100%"></select>
        </div>
    </div>

    <div class="col-sm-4">
        <label>İlçe(*)</label>
        <div class="form-group">
            <select class="selectpicker" id="inputIlce" data-width="100%"></select>
        </div>
    </div>

    <div class="col-sm-4">
        <label>Telefon Numaranız(*)</label>
        <div class="form-group">
            <input type="tel" class="form-control" id="txtTelefonNo" aria-describedby="emailHelp" placeholder="Telefon No">
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-4">
        <label>Ödeme Tipi</label>
        <div class="form-group">
            <select class="selectpicker" id="inputOdemeTipi" data-width="100%">
                <option value="0">Seçiniz</option>
                <option value="1">Nakit</option>
                <option value="2">Kredi Kartı</option>
                <option value="3">Çek</option>
                <option value="4">Senet</option>
                <option value="5">Diğer</option>
            </select>
        </div>
    </div>

    <div id="divOdemeDiger" class="col-sm-4" style="display:none">
        <label>Diğer</label>
        <div class="form-group">
            <input type="text" class="form-control" id="txtOdemeTipiDiger" placeholder="Diğer Ödeme Tipi">
        </div>
    </div>

    <div class="col-sm-4">
        <label>Kaç Adet Kiralamak İstiyorsunuz ?(*)</label>
        <div class="form-group">
            <input type="number" class="form-control" id="txtKacAdet" placeholder="Adet">
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-4">
        <label>Sevkiyatı kim karşılayacak?(*)</label>
        <div class="form-group">
            <select class="selectpicker" id="inputSevkiyat" data-width="100%">
                <option value="0">Seçiniz</option>
                <option value="1">Makina Sahibi</option>
                <option value="2">İş Veren</option>
                <option value="3">Geliş İşveren, Dönüş Makina Sahibi</option>
                <option value="4">Geliş Makina Sahibi, Dönüş İş Veren</option>
            </select>
        </div>
    </div>

    <div class="col-sm-4">
        <label>Operatör İstiyormusunuz?(*)</label>
        <div class="form-group">
            <select class="selectpicker" id="inputOperator" data-width="100%">
                <option value="0">Seçiniz</option>
                <option value="1">Evet</option>
                <option value="2">Hayır</option>

            </select>
        </div>
    </div>

    <div class="col-sm-4">
        <label>İşe Başlangıç Tarihi ?(*)</label>
        <div class="form-group">
            <div class='input-group date' disabled id='datetimepicker1'>
                <input id="txtBaslangic" type='text' class="form-control" />
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-4">
        <label>Süre(*)</label>
        <div class="form-group">
            <input type="number" class="form-control" id="txtSure">
        </div>
    </div>
    <div class="col-sm-4">
        <label>Günlük / Aylık / Yıllık(*)</label>
        <div class="form-group">
            <select class="selectpicker" id="inputSureTipi" data-width="100%">
                <option value="0">Seçiniz</option>
                <option value="1">Günlük</option>
                <option value="2">Aylık</option>
                <option value="3">Yıllık</option>
            </select>
        </div>
    </div>
</div>

<a href="#" class="btn btn-primary" onclick="Kiralik.KiralikMakinaTalebiOlustur();">TALEBİMİ OLUŞTUR</a>

<div class="submit-button">

</div>
<script src="~/client/js/jquery.min.js"></script>
<script type="text/javascript" src="~/client/moment.js/2.23.0/Content/Scripts/moment.min.js"></script>
<script type="text/javascript" src="~/client/bootstrap.v3.datetimepicker/4.17.45/content/Scripts/bootstrap-datetimepicker.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/locale/tr.js"></script>

<script src="~/js/network.js"></script>
<script src="~/js/Controller/Genel.js"></script>
<script src="~/js/Controller/Kategori.js"></script>
<script src="~/js/Controller/Kiralik.js"></script>

<script type="text/javascript">

    $(document).ready(function () {


        $('#datetimepicker1').datetimepicker({
            locale: 'tr',
            format: 'DD.MM.YYYY',
            minDate: moment(), // Current day
            maxDate: moment().add(60, 'days'),
        });

        var d = new Date();
        var e = Network.formatDate(d);

        $('#txtBaslangic').val(e);
        Kategori.KategoriComboDoldur();
        Genel.IlComboDoldur();

    });

    $(document).on("change", "#inputIl", function () {
        var selectedIl = $('#inputIl').val();
        Genel.IlceComboDoldur(selectedIl);
    });

    $(document).on("change", "#inputKategori", function () {
        var selectedKategori = $('#inputKategori').val();
        Kategori.AltKategoriComboDoldur(selectedKategori)
    });

    $(document).on("change", "#inputAltKategori", function () {
        var selectedAltKategori = $('#inputAltKategori').val();
        Kategori.KategoriMarkaComboDoldur(selectedAltKategori)
    });

    $(document).on("change", "#inputMarka", function () {
        var selectedKategoriMarka = $('#inputMarka').val();
        Kategori.KategoriModelComboDoldur(selectedKategoriMarka)
    });

    $(document).on("change", "#inputMarka", function () {
        var selectedKategoriMarka = $('#inputMarka').val();
        Kategori.KategoriModelComboDoldur(selectedKategoriMarka)
    });
    $(document).on("change", "#inputOdemeTipi", function () {
        var inputOdemeTipi = $('#inputOdemeTipi').val();
        if (inputOdemeTipi == 5) {

            $('#divOdemeDiger').css('display', 'block');
        }
    });


</script>


