
@{
    ViewData["Title"] = "Makina";
    Layout = "~/Views/Shared/_Main.cshtml";
}

<div class="blog-section section-padding">
    <div class="container">
        <div class="section-title text-center">
            @*<h1>Blog &amp; News</h1>*@
            <h2>KİRALIK MAKİNA TALEPLERİ</h2>
        </div>
        <div class="blog-content">
            <div class="row" id="divKiralikTalepListesi">

            </div><!-- row -->
        </div><!-- blog content -->
        <div class="pagination-section text-center">
            <ul class="pagination">
                <li>
                    <a href="#" aria-label="Previous">
                        <span aria-hidden="true">«</span>
                    </a>
                </li>
                <li class="active"><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li>
                    <a href="#" aria-label="Next">
                        <span aria-hidden="true">»</span>
                    </a>
                </li>
            </ul>
        </div><!-- pagination-section -->

    </div><!-- container -->
</div>


<script src="~/client/js/jquery.min.js"></script>
<script type="text/javascript" src="~/client/moment.js/2.23.0/Content/Scripts/moment.min.js"></script>
<script src="~/js/network.js"></script>
<script src="~/js/Controller/Kiralik.js"></script>

<script type="text/javascript">



    $(document).ready(function () {


        Kiralik.KiralikMakinaTalepListesi();

    });


</script>


